* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #6096B4;
    margin: auto;
    width: 100%;
    font-family: 'Cartoonist';
}
nav img {
    width: 100px;
    margin: 3px 3px;
    padding-left: 10px;
}

nav ul {
    list-style-type: none;
    float: right;
}
nav ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px;
    letter-spacing: 2px;
    font-size: 18px;
}

nav li {
    display: inline-block;
}

@font-face {
    font-family: "Cartoonist";
    src: url('sf_cartoonist_hand_bold-webfont.woff') format('woff');
}